In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import TimestampType
import zipfile
from pyspark.sql.functions import monotonically_increasing_id

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS_SECRET_ACCESS_KEY']

MissingSectionHeaderError: File contains no section headers.
file: 'dl.cfg', line: 1
"AWS_ACCESS_KEY_ID=''\n"

In [2]:

spark = SparkSession \
    .builder \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
    .getOrCreate()

In [3]:
# get filepath to song data file
song_data_path = "data/song_data/*/*/*/*.json"

In [4]:
#Read file
song_data = spark.read.json(song_data_path)

In [5]:
song_data.show()

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                    |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|         Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|   Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|        New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
|ARNF6401187FB57032|       40.79086|New York, NY [Man...|       -73.96644|   Sophie B. Hawkins|  305.162|        1|SONWXQJ12A8C134D94|The Ballad Of Sle...|1994|
|ARDNS031187B9924F0|       32.67828|             Georgia|       -83.22295|          Tim Wilson|186.48771|        1|SONYPOM12A8C13B2D7|I Think My Wife I...|2005|
|ARLTWXK1187FB5A3F8|       32.74863|      Fort Worth, TX|       -97.32925|         King Curtis|326.00771|        1|SODREIN12A58A7F2E5|A Whiter Shade Of...|   0|
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|ARI2JSK1187FB496EF|       51.50632|     London, England|        -0.12714|Nick Ingman;Gavyn...|111.62077|        1|SODUJBS12A8C132150|Wessex Loses a Bride|   0|
|AR9AWNF1187B9AB0B4|           null|Seattle, Washingt...|            null|Kenny G featuring...|236.93016|        1|SOZHPGD12A8C1394FE|     Baby Come To Me|   0|
|AR0RCMP1187FB3F427|       30.08615|        Beaumont, TX|       -94.10158|    Billie Jo Spears|133.32853|        1|SOGXHEG12AB018653E|It Makes No Diffe...|1992|
|AROUOZZ1187B9ABE51|       40.79195|New York, NY [Spa...|       -73.94512|         Willie Bobo|168.25424|        1|SOBZBAZ12A6D4F8742|      Spanish Grease|1997|
|AR47JEX1187B995D81|       37.83721|          Nevada, MO|       -94.35868|        SUE THOMPSON|124.86485|        1|SOBLGCN12AB0183212|James (Hold The L...|1985|
|ARKFYS91187B98E58F|           null|                    |            null|Jeff And Sheri Ea...| 267.7024|        1|SOYMRWW12A6D4FAB14|The Moon And I (O...|   0|
|ARB29H41187B98F0EF|       41.88415|             Chicago|       -87.63241|       Terry Callier|342.56934|        1|SOGNCJP12A58A80271|Do You Finally Ne...|1972|
|AR10USD1187B99F3F1|           null|Burlington, Ontar...|            null|Tweeterfriendly M...|189.57016|        1|SOHKNRJ12A6701D1F8|        Drop of Rain|   0|
|ARQGYP71187FB44566|       34.31109|         Mineola, AR|       -94.02978|        Jimmy Wakely|151.84934|        1|SOWTBJW12AC468AC6E|Broken-Down Merry...|   0|
|ARBEBBY1187B9B43DB|           null|     Gainesville, FL|            null|           Tom Petty|236.17261|        1|SOFFKZS12AB017F194|A Higher Place (A...|1994|
|AR36F9J1187FB406F1|       56.27609|             Denmark|         9.51695|      Bombay Rockers|230.71302|        1|SOBKWDJ12A8C13B2F3|Wild Rose (Back 2...|   0|
|ARMBR4Y1187B9990EB|       37.77916|     California - SF|      -122.42005|        David Martin|241.47546|        1|SOTTDKS12AB018D69B|It Wont Be Christmas|   0|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 20 rows

In [6]:
# extract columns to create songs table song_id, title, artist_id, year, duration****
songs_table = song_data["song_id", "title", "artist_id", "year", "duration", "artist_name"]
songs_table = songs_table.drop_duplicates(subset=['song_id'])

In [7]:
songs_table.show(4)

+------------------+-------------------+------------------+----+---------+----------------+
|           song_id|              title|         artist_id|year| duration|     artist_name|
+------------------+-------------------+------------------+----+---------+----------------+
|SOGOSOV12AF72A285E|  ¿Dónde va Chichi?|ARGUVEV1187B98BA17|1997|313.12934|  Sierra Maestra|
|SOMZWCG12A8C13C480|   I Didn't Mean To|ARD7TVE1187B99BFB1|   0|218.93179|          Casual|
|SOUPIRU12A6D4FA1E1|Der Kleine Dompfaff|ARJIE2Y1187B994AB7|   0|152.92036|     Line Renaud|
|SOXVLOJ12AB0189215|    Amor De Cabaret|ARKRRTF1187B9984DA|   0|177.47546|Sonora Santanera|
+------------------+-------------------+------------------+----+---------+----------------+
only showing top 4 rows

In [8]:
# write songs table to parquet files partitioned by year and artist
songs_table.write.partitionBy("year", "artist_id").parquet("home/workspace/songs_table.parquet", "overwrite")

In [9]:
# extract columns to create artists table
artists_table = song_data["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]

# write artists table to parquet files
artists_table.write.parquet("home/workspace/artists_table.parquet", "overwrite")

In [10]:
def process_song_data(spark, input_data, output_data):
    # get filepath to song data file
    song_data = "./data/log-data.zip"
                
    df = 

    # extract columns to create songs table
    songs_table = 
    
    # write songs table to parquet files partitioned by year and artist
    songs_table

    # extract columns to create artists table
    artists_table = 
    
    # write artists table to parquet files
    artists_table

SyntaxError: invalid syntax (<ipython-input-10-e665d0ea1b30>, line 5)

In [13]:
# get filepath to song data file
log_data_path = "data/log_data/*.json"
dfLog = spark.read.json(log_data_path)

In [14]:
dfLog.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [15]:
dfLog.limit(5).toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,None,Logged In,Wyatt,M,0,Scott,NaN,free,"Eureka-Arcata-Fortuna, CA",GET,Home,1.540872e+12,563,None,200,1542247071796,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,9
4,None,Logged In,Austin,M,0,Rosales,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.541060e+12,521,None,200,1542252577796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,12

In [16]:
# filter by actions for song plays
df_plays = dfLog.where(dfLog.page == "NextSong")

In [29]:
df_plays.count()

6820

In [17]:
# extract columns for users table
# columns for users - user_id, first_name, last_name, gender, level****

users_table = df_plays["userid", "firstName", "lastName", "gender", "level", "ts"]
users_table = users_table.orderBy("ts",ascending=False).dropDuplicates(subset=["userId"]).drop('ts')

# write users table to parquet files
users_table.write.parquet("home/workspace/users.parquet", "overwrite")

In [18]:
users_table.show()

+------+----------+--------+------+-----+
|userid| firstName|lastName|gender|level|
+------+----------+--------+------+-----+
|    51|      Maia|   Burke|     F| free|
|     7|    Adelyn|  Jordan|     F| free|
|    15|      Lily|    Koch|     F| paid|
|    54|     Kaleb|    Cook|     M| free|
|   101|    Jayden|     Fox|     M| free|
|    11| Christian|  Porter|     F| free|
|    29|Jacqueline|   Lynch|     F| paid|
|    69|  Anabelle| Simpson|     F| free|
|    42|    Harper| Barrett|     M| paid|
|    73|     Jacob|   Klein|     M| paid|
|    87|    Dustin|     Lee|     M| free|
|    64|    Hannah| Calhoun|     F| free|
|     3|     Isaac|  Valdez|     M| free|
|    30|     Avery| Watkins|     F| paid|
|    34|    Evelin|   Ayala|     F| free|
|    59|      Lily|  Cooper|     F| free|
|     8|    Kaylee| Summers|     F| free|
|    22|      Sean|  Wilson|     F| free|
|    28|  Brantley|    West|     M| free|
|    85|   Kinsley|   Young|     F| paid|
+------+----------+--------+------+-----+
only showing top 20 rows

In [19]:
# create timestamp column from original timestamp column
get_datetime = udf(lambda x: datetime.fromtimestamp(int(int(x)/1000)), TimestampType())
get_weekday = udf(lambda x: x.weekday())
get_week = udf(lambda x: datetime.isocalendar(x)[1])
get_hour = udf(lambda x: x.hour)
get_day = udf(lambda x: x.day)
get_year = udf(lambda x: x.year)
get_month = udf(lambda x: x.month)

df_plays = df_plays.withColumn("start_time", get_datetime(df_plays.ts))
df_plays = df_plays.withColumn("week_day", get_weekday(df_plays.start_time))
df_plays = df_plays.withColumn("week", get_week(df_plays.start_time))
df_plays = df_plays.withColumn("hour", get_hour(df_plays.start_time))
df_plays = df_plays.withColumn("day", get_day(df_plays.start_time))
df_plays = df_plays.withColumn("year", get_year(df_plays.start_time))
df_plays = df_plays.withColumn("month", get_month(df_plays.start_time))

In [20]:
# extract columns to create time table
time_table = df_plays.select("start_time","hour", "day", "week", "month", "year", "week_day")

In [21]:
time_table.show()

+-------------------+----+---+----+-----+----+--------+
|         start_time|hour|day|week|month|year|week_day|
+-------------------+----+---+----+-----+----+--------+
|2018-11-15 00:30:26|   0| 15|  46|   11|2018|       3|
|2018-11-15 00:41:21|   0| 15|  46|   11|2018|       3|
|2018-11-15 00:45:41|   0| 15|  46|   11|2018|       3|
|2018-11-15 03:44:09|   3| 15|  46|   11|2018|       3|
|2018-11-15 05:48:55|   5| 15|  46|   11|2018|       3|
|2018-11-15 05:53:44|   5| 15|  46|   11|2018|       3|
|2018-11-15 05:55:56|   5| 15|  46|   11|2018|       3|
|2018-11-15 06:01:02|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:07:37|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:10:33|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:13:54|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:14:16|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:17:59|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:18:48|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:21:33|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:25:58|   6| 15|  46|   11|2018|       3|
|2018-11-15 06:29:38|   6| 15|  46|   11|2018|       3|
|2018-11-15 07:08:36|   7| 15|  46|   11|2018|       3|
|2018-11-15 07:12:09|   7| 15|  46|   11|2018|       3|
|2018-11-15 07:28:47|   7| 15|  46|   11|2018|       3|
+-------------------+----+---+----+-----+----+--------+
only showing top 20 rows

In [22]:
# write time table to parquet files partitioned by year and month
time_table.write.partitionBy("year", "month").parquet("home/workspace/time_table.parquet", "overwrite")

In [41]:
# read in song data to use for songplays table
song_df = spark.read.json("data/song_data/*/*/*/*.json")

In [42]:
song_df.show(4)

+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|  artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                 |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|      Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|     New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 4 rows

In [43]:
song_df.count()

71

In [44]:
df_plays.show(4)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+-------------------+--------+----+----+---+----+-----+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|           song|status|           ts|           userAgent|userId|         start_time|week_day|week|hour|day|year|month|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+-------------------+--------+----+----+---+----+-----+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|  Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:30:26|       3|  46|   0| 15|2018|   11|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:41:21|       3|  46|   0| 15|2018|   11|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|2018-11-15 00:45:41|       3|  46|   0| 15|2018|   11|
|Sony Wonder|Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|      Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|2018-11-15 03:44:09|       3|  46|   3| 15|2018|   11|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+-------------------+--------+----+----+---+----+-----+
only showing top 4 rows

In [49]:
# songplay_id, start_time, userId, level, song_id, artist_id, sessionId, location, userAgent

df_total = song_df.join(df_plays, (song_df.title == df_plays.song) & (song_df.artist_name == df_plays.artist))

In [50]:
songplay = df_total["start_time", "userId", "level", "song_id", "artist_id", "sessionId", "location", "userAgent"]

In [51]:
songplay = songplay.withColumn("songplay_id", monotonically_increasing_id())
songplay.show(10)

+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+-----------+
|         start_time|userId|level|           song_id|         artist_id|sessionId|            location|           userAgent|songplay_id|
+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+-----------+
|2018-11-21 21:56:47|    15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|      818|Chicago-Napervill...|"Mozilla/5.0 (X11...|          0|
+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+-----------+

In [48]:
songplay.count()

4

In [39]:
df_total.count

<bound method DataFrame.count of DataFrame[song_id: string, title: string, duration: double, artist_name: string, year: int, artist_id: string, artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string, start_time: timestamp, week_day: string, week: string, hour: string, day: string, year: string, month: string]>

In [40]:
# write songplays table to parquet files partitioned by year and month
songplay.write.parquet("home/workspace/song_plays.parquet", "overwrite")

In [52]:
###################################test

In [39]:
# read in song data to use for songplays table
#song_data1 = os.path.join(input_data, "song-data/A/A/A/*.json")
song_df1 = spark.read.json("data/song_data/*/*/*/*.json")

# extract columns from joined song and log datasets to create songplays table 
df1 = df_plays.join(song_df1, song_df1.title == df_plays.song)

#& (song_df.artist_name == df_plays.artist)

In [40]:
songplays_table1 = df1["start_time", "userId", "level", "song_id", "artist_id", "sessionId", "location", "userAgent"]
songplays_table1.show(5)

+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+
|         start_time|userId|level|           song_id|         artist_id|sessionId|            location|           userAgent|
+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+
|2018-11-21 21:56:47|    15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|      818|Chicago-Napervill...|"Mozilla/5.0 (X11...|
|2018-11-14 05:06:03|    10| free|SOGDBUF12A8C140FAA|AR558FS1187FB45658|      484|Washington-Arling...|"Mozilla/5.0 (Mac...|
|2018-11-19 09:14:20|    24| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|
|2018-11-27 22:35:59|    80| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|      992|Portland-South Po...|"Mozilla/5.0 (Mac...|
+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+

In [ ]:
songplays_table1 = df1.select(
    col('ts').alias('ts'),
    col('userId').alias('user_id'),
    col('level').alias('level'),
    col('song_id').alias('song_id'),
    col('artist_id').alias('artist_id'),
    col('sessionId').alias('session_id'),
    col('location').alias('location'),
    col('userAgent').alias('user_agent'),
    col('year'), #.alias('year'),
    month('datetime').alias('month')
)

In [ ]:
#############################test

In [ ]:
def process_log_data(spark, input_data, output_data):
    # get filepath to log data file
    log_data =

    # read log data file
    df = 
    
    # filter by actions for song plays
    df = 

    # extract columns for users table    
    artists_table = 
    
    # write users table to parquet files
    artists_table

    # create timestamp column from original timestamp column
    get_timestamp = udf()
    df = 
    
    # create datetime column from original timestamp column
    get_datetime = udf()
    df = 
    
    # extract columns to create time table
    time_table = 
    
    # write time table to parquet files partitioned by year and month
    time_table
    
    ------------------------------

    # read in song data to use for songplays table
    song_df = 

    # extract columns from joined song and log datasets to create songplays table 
    songplays_table = 

    # write songplays table to parquet files partitioned by year and month
    songplays_table

In [ ]:
#End

In [23]:
# get filepath to song data file
song_data_path = "data/song_data/*/*/*/*.json"

In [24]:
#Read file
song_data = spark.read.json(song_data_path)

In [25]:
song_data.show()

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                    |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|         Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|   Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|        New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
|ARNF6401187FB57032|       40.79086|New York, NY [Man...|       -73.96644|   Sophie B. Hawkins|  305.162|        1|SONWXQJ12A8C134D94|The Ballad Of Sle...|1994|
|ARDNS031187B9924F0|       32.67828|             Georgia|       -83.22295|          Tim Wilson|186.48771|        1|SONYPOM12A8C13B2D7|I Think My Wife I...|2005|
|ARLTWXK1187FB5A3F8|       32.74863|      Fort Worth, TX|       -97.32925|         King Curtis|326.00771|        1|SODREIN12A58A7F2E5|A Whiter Shade Of...|   0|
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|ARI2JSK1187FB496EF|       51.50632|     London, England|        -0.12714|Nick Ingman;Gavyn...|111.62077|        1|SODUJBS12A8C132150|Wessex Loses a Bride|   0|
|AR9AWNF1187B9AB0B4|           null|Seattle, Washingt...|            null|Kenny G featuring...|236.93016|        1|SOZHPGD12A8C1394FE|     Baby Come To Me|   0|
|AR0RCMP1187FB3F427|       30.08615|        Beaumont, TX|       -94.10158|    Billie Jo Spears|133.32853|        1|SOGXHEG12AB018653E|It Makes No Diffe...|1992|
|AROUOZZ1187B9ABE51|       40.79195|New York, NY [Spa...|       -73.94512|         Willie Bobo|168.25424|        1|SOBZBAZ12A6D4F8742|      Spanish Grease|1997|
|AR47JEX1187B995D81|       37.83721|          Nevada, MO|       -94.35868|        SUE THOMPSON|124.86485|        1|SOBLGCN12AB0183212|James (Hold The L...|1985|
|ARKFYS91187B98E58F|           null|                    |            null|Jeff And Sheri Ea...| 267.7024|        1|SOYMRWW12A6D4FAB14|The Moon And I (O...|   0|
|ARB29H41187B98F0EF|       41.88415|             Chicago|       -87.63241|       Terry Callier|342.56934|        1|SOGNCJP12A58A80271|Do You Finally Ne...|1972|
|AR10USD1187B99F3F1|           null|Burlington, Ontar...|            null|Tweeterfriendly M...|189.57016|        1|SOHKNRJ12A6701D1F8|        Drop of Rain|   0|
|ARQGYP71187FB44566|       34.31109|         Mineola, AR|       -94.02978|        Jimmy Wakely|151.84934|        1|SOWTBJW12AC468AC6E|Broken-Down Merry...|   0|
|ARBEBBY1187B9B43DB|           null|     Gainesville, FL|            null|           Tom Petty|236.17261|        1|SOFFKZS12AB017F194|A Higher Place (A...|1994|
|AR36F9J1187FB406F1|       56.27609|             Denmark|         9.51695|      Bombay Rockers|230.71302|        1|SOBKWDJ12A8C13B2F3|Wild Rose (Back 2...|   0|
|ARMBR4Y1187B9990EB|       37.77916|     California - SF|      -122.42005|        David Martin|241.47546|        1|SOTTDKS12AB018D69B|It Wont Be Christmas|   0|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 20 rows

In [58]:
# extract columns to create songs table song_id, title, artist_id, year, duration
songs_table = song_data["song_id", "title", "artist_id", "year", "duration", "artist_name"]

In [59]:
# write songs table to parquet files partitioned by year and artist
songs_table.write.partitionBy("year", "artist_id").parquet("home/workspace/songs_table.parquet", "overwrite")

In [30]:
# extract columns to create artists table
artists_table = song_data["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]

# write artists table to parquet files
artists_table.write.parquet("home/workspace/artists_table.parquet", "overwrite")

In [ ]:
def process_song_data(spark, input_data, output_data):
    # get filepath to song data file
    song_data = "./data/log-data.zip"
                
    df = 

    # extract columns to create songs table
    songs_table = 
    
    # write songs table to parquet files partitioned by year and artist
    songs_table

    # extract columns to create artists table
    artists_table = 
    
    # write artists table to parquet files
    artists_table

In [ ]:
------------------------------------------------

In [ ]:
# extract columns from joined song and log datasets to create songplays table 
log_df.createOrReplaceTempView("log_df_table")
song_df.createOrReplaceTempView("song_df_table")

songplays_table = spark.sql(
    """SELECT DISTINCT log_df_table.start_time, log_df_table.userId, log_df_table.level, log_df_table.sessionId, log_df_table.location,log_df_table.userAgent, song_df_table.song_id, song_df_table.artist_id
    FROM log_df_table 
    INNER JOIN song_df_table 
    ON song_df_table.artist_name = log_df_table.artist 
    INNER JOIN time_table
    ON time_table.start_time = log_df_table.start_time
    GROUP BY time_table.year, time_table.month
    """)
songplays_table = songplays_table.withColumn("songplay_id", monotonically_increasing_id()